{% extends 'core/base.html'%}

{% block content %}
    <div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for item in index %}
        <div class="card mb-4 box-shadow">
            <img src="https://via.placeholder.com/150x100" alt="Card image cap" class="card-img-top">
        <div class="card-body">
            <h4><a href="{{ item.get_absolute_url }}"> {{ item.title }}</a></h4>
            <p class="card-text"></p>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <small class="text-muted">{{ item.published }}</small>
                </div>
            </div>
        </div>
        </div>
            {% endfor %}

        </div>
    </div>
    </div>
{% endblock %}