{% extends 'core/base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light br-light">
        <div class="navbar-brand">Post Administration</div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a href="{% url 'core:add' %}" class="nav-link">Add New</a>
                    </li>
                </ul>
            </div>
    </nav>

    <div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for post in post_list %}
                <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img src="https://via.placeholder.com/150x100" alt="Card image cap" class="card-img-top">
                    <div class="card-body">
                        <h4 class="lead"><a href="{% url 'core:single' post.pk %}" class="text-dark">{{ post.title }}</a></h4>
                        <p class="card-text"></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ post.get_absolute_url }}" class="btn btn-sm btn-outline-primary">View</a>
                                <a href="{% url 'core:edit' post.pk %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                                <a href="{% url 'core:delete' post.pk %}" class="btn btn-sm btn-outline-secondary">Delete</a>
                            </div>
                            <small class="text-muted">{{ post.published }}</small>
                        </div>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}