{% extends 'core/base.html' %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-12 pt-5">
            <img src="https://via.placeholder.com/150x100" alt="" class="card-img-top">
            <h2 class="pt-5">{{ post.title }}</h2>
            <p>{{ post.description }}</p>
        </div>
    </div>
    </div>
{% endblock %}